<h2 id='title'>Welcome to Ember Social</h2>

<h3>Facebook</h3>
<ul>
  <li>{{#link-to "facebook.like"}}Facebook Like{{/link-to}}</li>
  <li>{{#link-to "facebook.share"}}Facebook Share{{/link-to}}</li>
</ul>

<h3>Twitter</h3>
<ul>
  <li>{{#link-to "twitter.share"}}Twitter Share{{/link-to}}</li>
</ul>

<h3>LinkedIn</h3>
<ul>
  <li>{{#link-to "linkedin.share"}}LinkedIn Share{{/link-to}}</li>
</ul>

{{outlet}}
