<h2 id='title'>Welcome to <a href="https://github.com/plyfe/ember-social" target="_blank">Ember Social</a></h2>

Ember-Social is an Ember component library for social sharing widgets. Think Tweet buttons, Facebook like buttons, Linked In share buttons, etc.

<div style="border:1px solid #ccc; margin-bottom:15px; padding-left:1%">
  <div style="display:inline-block; width:16%">
    <h3>Facebook</h3>
    <ul>
      <li>{{#link-to "facebook.like"}}Facebook Like{{/link-to}}</li>
      <li>{{#link-to "facebook.share"}}Facebook Share{{/link-to}}</li>
    </ul>
  </div>

  <div style="display:inline-block; width:16%">
    <h3>Twitter</h3>
    <ul>
      <li>{{#link-to "twitter.share"}}Twitter Share{{/link-to}}</li>
      <li>{{#link-to "twitter.card"}}Twitter Card{{/link-to}}</li>
    </ul>
  </div>

  <div style="display:inline-block; width:16%">
    <h3>LinkedIn</h3>
    <ul>
      <li>{{#link-to "linkedin.share"}}LinkedIn Share{{/link-to}}</li>
    </ul>
  </div>

  <div style="display:inline-block; width:16%">
    <h3>Email</h3>
    <ul>
      <li>{{#link-to "email.share"}}Email Share{{/link-to}}</li>
    </ul>
  </div>

  <div style="display:inline-block; width:16%">
    <h3>Social Widget</h3>
    <ul>
      <li>{{#link-to "widget"}}Examples{{/link-to}}</li>
    </ul>
  </div>

  <div style="display:inline-block; width:16%">
    {{#link-to "tracking"}}Click and Share Tracking{{/link-to}}
  </div>
</div>

{{outlet}}
