<h1>Email Share</h1>

<h2>Custom subject, body and URL</h2>

<p>Specified subject, body and url attributes. Shares specified subject, body and url via mailto anchor tag.</p>

<code>
  \{{#email-share subject="Check out this link" url='http://plyfe.github.io/ember-social' body="Help, I'm stuck in a tweet factory."}}<br>
     Share via email.<br>
  \{{/email-share}}
</code>

<div id='custom-url-and-text'>
  {{#email-share subject="Check out this link" url='http://plyfe.github.io/ember-social' body="Help, I'm stuck in a tweet factory."}}Share via email.{{/email-share}}
</div>

